
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Appointments</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
               
            </div>

            <div class="col-sm-6 col-md-3">
               
                    
                <input type="text" class="form-control" placeholder="Username" name="userName" 
                [(ngModel)]="userName" (ngModelChange)='search()'>
      
        </div> 
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Appointment ID</th>
                                <th>UserName</th>
                                <th>Attendance</th>
                                <th>Visibility</th>
                             
                                <th>Appointment Date</th>
                                <th>State</th>
                                <th>Purchased</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody  *ngFor="let user of listAppointement
                        ; let i=index">
                           
                            <tr  *ngFor="let app of user.appointment  | paginate: {itemsPerPage:2,currentPage:p}  ">
                                <td>APT000{{app.idAppointement}}</td>
                                <td><img width="32" height="30" src="assets/uploads/{{user.picture}}" 
                                    class="rounded-circle m-r-8" alt=""> {{user.userName}}</td>
                                <td>{{app.attendance}}</td>
                                
                                <td>
                                    <span *ngIf="app.visibility" class="custom-badge status-green">Visible</span>
                                
                                    <span *ngIf="!app.visibility" class="custom-badge status-red">NotVisible</span>
                                </td>
                                <td>{{app.dateAppointement}}</td>
                                <td >{{app.state}}</td>

                                <td><span *ngIf="app.purchased" class="custom-badge status-green">Purchased</span>
                                
                                    <span *ngIf="!app.purchased" class="custom-badge status-red">NotPurchased</span>
                                </td>

                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" 
                                        data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item"
                                            (click)="getAppByUser(user,app)"
                                             routerLink="/edit-appointement">
                                                <i class="fa fa-pencil m-r-5" 
                                                 >

                                                </i>Edit</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal"
                                             data-target="#delete_employee" 
                                             (click)="getIdApp(app.idAppointement)">
                                                <i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div id="delete_employee" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="assets/img/sent.png" alt="" width="50" height="46">
                <h3>Are you sure want to delete this users?</h3>
                <div class="m-t-20"> <!--<a class="btn btn-white" data-dismiss="modal">Close</a>-->
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" 
                    (click)="deleteAppById()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
