<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Search</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a routerLink="/dashborad/admin/add-users" class="btn btn-primary float-right btn-rounded">
                    <i class="fa fa-user-plus"></i> Add user</a>
            </div>
        </div>
        <div class="row filter-row">
       
            <div class="col-sm-6 col-md-3">
               
                    
                    <input type="text" class="form-control" placeholder="Username" name="userName" 
                    [(ngModel)]="userName" (ngModelChange)='search()'>
          
            </div> 

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <!--<div class="col-sm-6 col-md-3">
                <div class="form-group form-focus select-focus">
                    <label class="focus-label">Role</label>
                    <select class="select floating">
                        <option>Select Role</option>
                        <option>Nurse</option>
                        <option>Pharmacist</option>
                       
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#" class="btn btn-success btn-block"> Search </a>
            </div>-->
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table" >
                        <thead >
                            <tr >
                                <th>Picture</th>
                                <th style="min-width:100px;">Username</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th class="email">Email</th>
                                <th>Mobile</th>
                                <th style="min-width: 110px;">Birth Date</th>
                                <th>Role</th>
                                <th>Status</th>
                                
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let user of listNewUsers | paginate: {itemsPerPage:3,currentPage:p}">
                            <tr class="animated fadeInDown" >

                                <td><img width="37" height="34" src="assets/uploads/{{user.picture}}" 
                                    class="rounded-circle m-r-8" alt=""> </td>
                                 <td>{{user.userName}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phoneNumber}}</td>
                                <td>{{user.dateNaissance}}</td>
                                <td>
                                    <span class="custom-badge status-green">{{user.role}}</span>
                                </td>
                           <td *ngIf="!user.block"><span  class="custom-badge status-red">Inactive</span></td>
                           <td  *ngIf="user.block"><span  class="custom-badge status-green">Active</span></td>


                                <td class="items">
                                   

                                            <a class="dropdown-item" (click)="getIdUser(user.id)" 
                                            routerLink="/dashborad/admin/edit-users">
                                                <i class="fa fa-pencil m-r-5"></i></a>

                                            <a class="dropdown-item"  data-toggle="modal" 
                                            (click)="getIdUser(user.id)"
                                             data-target="#delete_employee">
                                             <i class="fa fa-trash-o m-r-5">

                                             </i> </a>
                                      
                                </td>
                            </tr>
                          
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="delete_employee" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="assets/img/sent.png" alt="" width="50" height="46">
                <h3>Are you sure want to delete this Employee?</h3>
                <div class="m-t-20"> <!--<a class="btn btn-white" data-dismiss="modal">Close</a>-->
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" 
                    (click)="deleteUserById()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
